* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #211714;

  background-size: cover;
  background-position: top;
  position: relative;
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

h1 {
  font-size: 4.2rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

header {
  background-image: linear-gradient(to right bottom, rgba(201, 75, 75, 0.5), rgba(75, 19, 79, 0.5)), url(../header-image.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 30vh;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 3rem;
  border: none;
  background: white;
}

form button {
  color: #E06E51;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: #E06E51;
  color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

@media (max-width: 600px) {
  .todo-list {
    min-width: 80%;
  }
  .todo-input {
    max-width: 250px;
  }
}

.todo {
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.4s ease;
}

.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background-color: #E06E51;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 2rem;
}

.complete-btn {
  background-color: #18943F;
}

.todo-item {
  padding: 0rem 1rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(5rem) rotateZ(20deg);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;

  color: #E06E51;
  width: 15rem;
  cursor: pointer;
  padding: 1.5rem;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

.select::after {
  content: "\25BC";
  position: absolute;
  background-color: #E06E51;
  top: 0;
  right: 0;
  padding: 1.5rem;
  pointer-events: none;
  transition: all 0.4s ease;
}

.select:hover::after {
  color: #E06E51;
  background-color: white;
}

/* Showing Filter Elements */
.show-selected {
  display: flex;
}

.not-show {
  display: none;
}
